.about {
  margin: 100px 0;
  font-weight: 400;
font-size: 20px;
line-height: 160%;
color: #141024;
		// .about__container
		&__container {
		}
		// .about__title
		&__title {
      margin: 0;
		}
		// .about__text
		&__text {
      max-width: 900px;
		}
    &__link {
      margin-top: 30px;
		}
}

