.footer {
	padding: 35px 0;
	background-color: var(--dark-color);

	// .footer__content
	&__content {
		display: flex;
		justify-content: space-between;

		@include mobile {
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}
	}
}