.graph-modal {

	// .graph-modal__container
	&__container {
		background-color: rgb(240, 93, 93);
	}

	// .graph-modal__close
	&__close {
		font-size: 12px;
		color: #141024;
		top: 0px;
		right: 30px;
	}

}

