.social {
  display: flex;
  justify-content: center;
  align-items: center;
  		// .social__link
		&__link {
      display: inline-block;
      width: 48px;
      height: 48px;

			@media (max-width:1024px) {
				width: 38px;
				height: 38px;
			}

      &:not(:last-child){
      	margin-right: 10px;
    	}

	}
		// .social__svg
		&__svg {
			width: 100%;
			height: 100%;
      	fill: var(--light-color);
		}
}
