<section class="about" id="about">
  <div class="container about__container">
    <h2 class="about__title">Обо мне</h2>
    <p class="about__text">Привет. Говорить - это мое любимое дело, ставшее профессиональным. Я телерадиоведущая, автор и продюсер TV и YouTube проектов. Я
    - практик, собравший в систему все навыки, приобретенные чуть больше, чем за 10 лет жизни (работы). Эта система и стала
    проектом «ХОЧУГОВОРИТЬ».</p>
    <p class="about__text">
      Я говорю о спорте на главном спортивном телеканале страны, настраиваю на правильную волну в своем вечернем шоу на
      топовой радиостанции в Сочи (по версии премии «Радиомания-2018», моя программа - лучшая в России).
    </p>
    <a href="#" class="about__link btn btn-reset" data-scroll>Записаться на курс</a>
  </div>
</section>
