<section class="form">
	<div class="form__container container">
		<div class="form__content">
			<div class="form__content-sale">
				<h2 class="form__content-title">Запишитесь на курс<br> со скидкой 10%</h2>
				<p class="form__content-text">Акция действительна до <span class="form__content-time"></span></p>
			</div>
			<div class="form__content-form">
				<form class="form__form-body form-body" enctype="multipart/form-data" action="mail.php" method="post">
					<input type="hidden" name="admin_email[]" value="alexnikolaenko@yandex.ru">
					<div class="form-body__input">
						<input type="tel" name="tel" id="tel" placeholder="Телефон">
					</div>
					<div class="form-body__input">
						<input type="text" name="name" id="name" placeholder="Имя">
					</div>
					<div class="form-body__input">
						<input type="email" name="email" id="email" placeholder="Email">
					</div>
					<button class="form-body__btn btn btn-reset" type="submit">Отправить</button>
					<div class="form-body__span">*Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности</div>
				</form>
			</div>
		</div>
	</div>
	
</section>