<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <p class="hero__title">Хочу говорить!</p>
      <h1 class="hero__maintitle">Авторский курс мастер-классов <br>
      по ОРАТОРСКОМУ ИСКУССТВУ</h1>
      <p class="hero__subtitle">от Марии Егоровой</p>
      <a href="#" class="hero__link btn btn-reset" data-scroll data-graph-path="modalWindow">Записаться на курс</a>
      <blockquote class="blockquote-8">
        <p>Перед тем, как что-то сказать или написать, ответь себе на вопрос: «И ЧТО?»</p>
        <cite>Мария Егорова</cite>
      </blockquote>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="img/woman.svg" type="image/avif">
        <source srcset="img/woman.svg" type="image/webp">
        <img loading="lazy" src="img/woman.svg" class="image" width="783" height="917" alt="Девушка, смотрящая вдаль">
      </picture>
    </div>
  </div>
</section>
