<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <p class="hero__title">Хочу говорить!</p>
      <h1 class="hero__maintitle">Авторский курс мастер-классов <br>
      по ОРАТОРСКОМУ ИСКУССТВУ</h1>
      <p class="hero__subtitle">от Марии Егоровой</p>
      <button class="hero__link btn btn-reset" data-graph-path="modalWindow">Записаться на курс</button>
      <blockquote class="blockquote-8">
        <p>Перед тем, как что-то сказать или написать, ответь себе на вопрос: «И ЧТО?»</p>
        <cite>Мария Егорова</cite>
      </blockquote>
    </div>
    <div class="hero__image" data-da=".hero__content,820,3">
		 <img loading="lazy" src="img/woman.svg" class="image" alt="Девушка, смотрящая вдаль">
    </div>
  </div>
</section>
