<section class="lessons">
	<div class="lessons__container container">
		<h2 class="lessons__title">Описание уроков</h2>
		<div class="lessons__list">
			<li class="lessons__item">
				<div class="lessons__item-left item-left">
					<div class="item-left__number number">
						<div class="number__circle"></div>
						<div class="number__num">1</div>
					</div>
					<div class="item-left__line"></div>
				</div>
				<div class="lessons__item-right">
					<h2 class="lessons__item-caption">Понимание себя, текста и смысла во взаимодействии с аудиторией.</h2>
					<p class="lessons__text">Три важных правила, которые помогут тебе уверенно чувствовать себя перед аудиторией, в&nbsp;эфире, в&nbsp;общении.
					Главный вопрос, на&nbsp;который нужно ответить перед выступлением. Процесс мысль-слово-тело.
					Как не&nbsp;стать заложником образа, кто может испортить твое выступление?
					Основные инструменты эффективного общения.</p>
				</div>
			</li>
			<li class="lessons__item">
				<div class="lessons__item-left item-left">
					<div class="item-left__number number">
						<div class="number__circle"></div>
						<div class="number__num">2</div>
					</div>
					<div class="item-left__line"></div>
				</div>
				<div class="lessons__item-right">
					<h2 class="lessons__item-caption">Инструменты работы с текстом.</h2>
					<p class="lessons__text">С&nbsp;чего начинать, как зацепить и&nbsp;удержать внимание аудитории. &laquo;Включающие&raquo; точки в&nbsp;твоем
					повествовании, образность мышления и&nbsp;ее&nbsp;помощники. Каким бывает интерактив и&nbsp;что с&nbsp;ним делать?
					Почему нужна система? Как закончить без фразы &laquo;у&nbsp;меня всё&raquo;?</p>
				</div>
			</li>
			<li class="lessons__item">
				<div class="lessons__item-left item-left">
					<div class="item-left__number number">
						<div class="number__circle"></div>
						<div class="number__num">3</div>
					</div>
					<div class="item-left__line"></div>
				</div>
				<div class="lessons__item-right">
					<h2 class="lessons__item-caption">Работа с вопросами/мозговой штурм.</h2>
					<p class="lessons__text">Как строить ассоциативный ряд? Какие вопросы помогут тебе разобраться в теме? Как разобраться в теме и подготовить
					презентацию/выступление, не похожую на другие. Как найти в старой теме новое дыхание? для чего нужны вопросы «от
					обратного»? Что поможет тебе добраться до глубокой мыли? Что такое и для чего нужны «жиза» и «правдники»?</p>
				</div>
			</li>
			<li class="lessons__item">
				<div class="lessons__item-left item-left">
					<div class="item-left__number number">
						<div class="number__circle"></div>
						<div class="number__num">4</div>
					</div>
					<div class="item-left__line"></div>
				</div>
				<div class="lessons__item-right">
					<h2 class="lessons__item-caption">Страхи, интонирование и отличительные признаки спикера.</h2>
					<p class="lessons__text">Чего мы&nbsp;боимся больше всего? Для чего нужны паузы и&nbsp;какими они бывают? Где искать смысловые слова, как они
					помогают слушателю &laquo;идти с&nbsp;тобой по&nbsp;повествованию&raquo;? Как работать с&nbsp;интонацией? Что такое
					форматные признаки, где их&nbsp;найти? Как &laquo;разбудить свой рот&raquo;: набор упражнений, которые помогут
					разработать речевой аппарат.</p>
				</div>
			</li>
			<li class="lessons__item">
				<div class="lessons__item-left item-left">
					<div class="item-left__number number">
						<div class="number__circle"></div>
						<div class="number__num">5</div>
					</div>
					<div class="item-left__line"></div>
				</div>
				<div class="lessons__item-right">
					<h2 class="lessons__item-caption">Жесты и подготовка к выступлению, работа на сцене.</h2>
					<p class="lessons__text">Что делать с&nbsp;руками, взглядом и&nbsp;движениями? Как подготовиться к&nbsp;выступлению на&nbsp;площадке. Выбор
					жестикуляции, как освоить новое пространство перед собой. Передвижения по&nbsp;сцене: рабочие точки. Что значит
					&laquo;жить&raquo; во&nbsp;время выступления.</p>
				</div>
			</li>
			<li class="lessons__item">
				<div class="lessons__item-left item-left">
					<div class="item-left__number number">
						<div class="number__circle"></div>
						<div class="number__num">6</div>
					</div>
					<div class="item-left__line"></div>
				</div>
				<div class="lessons__item-right">
					<h2 class="lessons__item-caption">Обработка информации, работа с источниками, подача.</h2>
					<p class="lessons__text">Какие источники информации тебе нужны и&nbsp;для чего? Как подойти к&nbsp;вопросу не&nbsp;с&nbsp;точки зрения пересказа,
					а&nbsp;с&nbsp;позиции
					первоисточника. Как создать структуру из&nbsp;собранной информации и&nbsp;проанализировать&nbsp;ее? Что делать, если
					у&nbsp;тебя мало
					времени на&nbsp;изучение информации, как ее&nbsp;подать и&nbsp;для чего нужны подводки (заход на&nbsp;повествование)?
					Краткое резюме по
					основным инструментам эффективного общения и&nbsp;работы с&nbsp;текстом и&nbsp;информацией при подготовке
					к&nbsp;выступлению.</p>
				</div>
			</li>
		</div>
	</div>
</section>