<section class="tarifs" id="price">
	<div class="tarifs__container container">
		<h2 class="tarifs__title">тарифы</h2>
		<div class="tarifs__content">
			<div class="tarifs__cards">
				<div class="tarifs__card card">
					<div class="card__title">– START –</div>
					<div class="card__advantages">
						<div class="card__advantage">
							<div class="card__advantage-img">
								<img src="../img/yotube.png" alt="youtube_icon" />
							</div>
							<div class="card__advantage-text">
								6 видеоуроков в записи навсегда <br>(120 минут)
							</div>
						</div>
						<div class="card__advantage">
							<div class="card__advantage-img">
								<img src="../img/home_work.png" alt="homework_icon">
							</div>
							<div class="card__advantage-text">
								Домашнее задание
							</div>
						</div>
					</div>
					<div class="card__price-wrap">
						<div class="card__price card__price_cancel">8000 ₽</div>
						<div class="card__price">4900 ₽</div>
					</div>
					<a href="#" class="tarifs__btn-buy btn btn-reset">Купить</a>
				</div>
				<div class="tarifs__card card">
					<div class="card__title">– PRO –</div>
					<div class="card__advantages">
						<div class="card__advantage">
							<div class="card__advantage-img">
								<img src="../img/yotube.png" alt="youtube_icon" />
							</div>
							<div class="card__advantage-text">
								6 видеоуроков в записи навсегда <br>(120 минут)
							</div>
						</div>
						<div class="card__advantage">
							<div class="card__advantage-img">
								<img src="../img/home_work.png" alt="homework_icon">
							</div>
							<div class="card__advantage-text">
								Домашнее задание
							</div>
						</div>
						<div class="card__advantage">
							<div class="card__advantage-img">
								<img src="../img/meeting.png" alt="иконка конференции" />
							</div>
							<div class="card__advantage-text">
								Онлайн встречи с авторами курса
							</div>
						</div>
						<div class="card__advantage">
							<div class="card__advantage-img">
								<img src="../img/telegram.png" alt="telegram icon" />
							</div>
							<div class="card__advantage-text">
								Закрытая группа в Telegram с обратной связью
							</div>
						</div>
					</div>
					<div class="card__price-wrap">
						<div class="card__price card__price_cancel">25000 ₽</div>
						<div class="card__price">14990 ₽</div>
					</div>
					<a href="#" class="tarifs__btn-buy btn btn-reset">Купить</a>
				</div>
				<div class="tarifs__card card">
						<div class="card__title">– Индивидуальный –</div>
						<div class="card__advantages">
							<div class="card__advantage card__advantage_col">
								<div class="card__advantage-img">
									<img src="../img/people.png" alt="people icon" />
								</div>
								<ul class="card__advantage-ul">
									<li  class="card__advantage-li">Работа по индивидуальному запросу (работа в кадре, выступления, написание текстов, работа с видео-контентом, подготовка
									ваших проектов, работа с зажимами, скоростью мысли/речи, управление голосом и многое другое)</li>
									<li class="card__advantage-li">Несколько личных или онлайн встреч, в которых вы достигаете результата быстрее, а обучение становится эффективнее</li>
									<li class="card__advantage-li">Цели, болевые точки и желаемые результаты обсуждаются перед тем, как выбрать «план действий»</li>
								</ul>
							</div>
						</div>
						<button class="tarifs__btn-buy btn btn-reset" data-graph-path="modalWindow">Оставить заявку</button>
				</div>
				<div class="tarifs__card card">
					<div class="card__title">– Корпоративный –</div>
					<div class="card__advantages">
						<div class="card__advantage card__advantage_col">
							<div class="card__advantage-img">
								<img src="../img/corp.png" alt="corp icon" />
							</div>
							<ul class="card__advantage-ul">
								<li class="card__advantage-li">Групповые мастер-классы для вашей команды: важные знания по эффективному общению, работе с клиентами, самопрезентации и
								презентации проектов, уверенная подача, как работать без «клише», что нужно, чтобы тебя слушали, как правильно слушать и
								работать с вопросами и другие «спасательные круги» взаимодействия с людьми.</li>
								<li class="card__advantage-li">Тематика мастер-класса прорабатывается совместно с заказчиком.</li>
							</ul>
						</div>
					</div>
					<button class="tarifs__btn-buy btn btn-reset" data-graph-path="modalWindow">Оставить заявку</button>
				</div>
			</div>
			
		</div>
	</div>
</section>