<section class="utility">
	<div class="utility__container container">
		<h2 class="utility__title">Почему проект &laquo;ХОЧУГОВОРИТЬ&raquo; тебе пригодится?</h2>
		<p class="utility__text">Поток информации, в&nbsp;котором мы&nbsp;живем&nbsp;&mdash; это конкурентная среда, где можно и&nbsp;нужно
		с&nbsp;легкостью ориентироваться и&nbsp;выделяться.
		Говорить или писать о&nbsp;себе, о&nbsp;своем деле, о&nbsp;вопросах, волнующих тебя, хочется на&nbsp;самом высшем
		уровне, без сомнений и&nbsp;клише, а&nbsp;всё это довольно непросто.</p>
		<p class="utility__text">Сталкивались с&nbsp;ситуацией, что даже в&nbsp;компании близких людей сложно сформулировать свою мысль? От&nbsp;этого
		сразу появляются внутренние зажимы, страхи и&nbsp;ты&nbsp;испытываешь стресс. А&nbsp;на&nbsp;совещании или презентации,
		когда ком в&nbsp;горле или трясутся уголки губ...?</p>
		<p class="utility__text">Ораторское мастерство&nbsp;&mdash; это не&nbsp;только о&nbsp;том, как говорить. Важно и&nbsp;то, что говорить, кому, для
		чего? Как взаимодействовать с&nbsp;аудиторией, клиентами, партнерами, подчиненными, начальством? Для чего нужен текст,
		как анализировать информацию, что такое самопрезентация и&nbsp;многое другое.</p>
		<h2 class="utility__list-caption">Чем мы отличаемся от остальных:</h2>
		<ul class="utility__list">
			<li class="utility__item">Авторская программа</li>
			<li class="utility__item">Индивидуальная работа</li>
			<li class="utility__item">О сложном простыми словами</li>
			<li class="utility__item">Реальный результат за короткое время</li>
		</ul>
	</div>
</section>