<siction class="why">
  <div class="container why__container">
    <h2 class="why__title">Что тебе даст проект «ХОЧУГОВОРИТЬ» :</h2>
    <div class="why__content">
      <div class="why__item1">Узнаешь инструменты эффективного общения (твои планёрки и презентации, а может и посиделки с родственниками станут
      гораздо интереснее и продуктивнее, а страхи и неуверенность останутся в прошлом)</div>
      <div class="why__item2">Твое тело будет работать вместе с речью</div>
      <div class="why__item3">Сможешь определить свои форматные признаки (это к слову о модном сейчас направлении «я-бренд»)</div>
      <div class="why__item4">Сможешь создавать проекты</div>
      <div class="why__item5">Поймешь, как работать с вопросами</div>
      <div class="why__item6">Научишься работать в кадре, вести прямые эфиры без растерянных взглядов и неловких пауз</div>
      <div class="why__item7">Прокачаешь креативность своих мыслей</div>
      <div class="why__item8">Поймешь, как работать с информацией, чтобы она «играла за тебя»</div>
      <div class="why__item9">Научишься писать так, чтобы не только ты, но и другие читали твои публикации до конца</div>
      <div class="why__item10">Будешь уверенно выступать перед публикой, управлять своими эмоциями, мимикой, жестами</div>
      <div class="why__item11">Начнешь получать удовольствие от того, что ты делаешь</div>
      <div class="why__item12">Узнаешь, как произвести впечатление и сделать эффективную презентацию продукта заказчику, руководителю или партнерам</div>
      <div class="why__item13">Создашь новые нейронные связи</div>
      <div class="why__item14">Избавишься от зажимов и клише</div>
      <div class="why__item15">Научишься презентовать себя аудитории, позиционировать как эксперта, умение проводить яркие и увлекательные
      мастер-классы, вебинары</div>
      <div class="why__item16">Научишься презентовать идеи при выступлениях на совещаниях, переговорах, планерках</div>
      <div class="why__item17">Не мямлить, а четко и грамотно доносить мысли</div>
      <div class="why__item18">Умение подавать себя, управлять аудиторией</div>
      <div class="why__item19">Вовлекать слушателей и проводить незабываемые выступления</div>
      <div class="why__item20">Начнешь легко и непринужденно общаться и с близкими и с незнакомыми людьми</div>
      <div class="why__item21">Поймешь, как вдохновлять и руководить коллективом, а руководитель-это всегда хороший оратор</div>
      <div class="why__item22">Станешь уверенным при знакомстве</div>
    </div>
  </div>
</siction>
