<siction class="why" id="why">
  <div class="container why__container">
    <h2 class="why__title">Что тебе даст проект «ХОЧУГОВОРИТЬ» :</h2>
    <div class="why__content">
		<div class="why__item1" style="background-color: rgb(159, 228, 145);">
			<div>
				<span>Узнаешь</span> инструменты эффективного общения (твои планёрки и&nbsp;презентации, а&nbsp;может
				и&nbsp;посиделки с&nbsp;родственниками станут
				гораздо интереснее и&nbsp;продуктивнее, а&nbsp;страхи и&nbsp;неуверенность останутся в&nbsp;прошлом)
			</div>
		</div>
		<div class="why__item2" style="background-color: rgb(177, 182, 213);">
			<div><span>Твое</span> тело будет работать вместе с&nbsp;речью</div>
		</div>
		<div class="why__item3" style="background-color: rgb(174, 80, 195);">
			<div><span>Сможешь</span> определить свои форматные признаки (это к&nbsp;слову о&nbsp;модном сейчас направлении
				«я-бренд»)</div>
		</div>
		<div class="why__item4" style="background-color: rgb(233, 96, 67);">
			<div><span>Сможешь</span> создавать проекты</div>
		</div>
		<div class="why__item5" style="background-color: rgb(104, 245, 112);">
			<div><span>Поймешь</span>, как работать с&nbsp;вопросами</div>
		</div>
		<div class="why__item6" style="background-color: rgb(24, 56, 52);">
			<div><span>Научишься </span>работать в&nbsp;кадре, вести прямые эфиры без растерянных взглядов и&nbsp;неловких пауз
			</div>
		</div>
		<div class="why__item7" style="background-color: rgb(77, 11, 179);">
			<div><span>Прокачаешь</span> креативность своих мыслей</div>
		</div>
		<div class="why__item8" style="background-color: rgb(48, 86, 177);">
			<div><span>Поймешь</span>, как работать с&nbsp;информацией, чтобы она «играла за&nbsp;тебя»</div>
		</div>
		<div class="why__item9" style="background-color: rgb(185, 201, 95);">
			<div><span>Научишься</span> писать так, чтобы не&nbsp;только ты, но&nbsp;и&nbsp;другие читали твои публикации
				до&nbsp;конца</div>
		</div>
		<div class="why__item10" style="background-color: rgb(221, 206, 152);">
			<div><span>Будешь</span> уверенно выступать перед публикой, управлять своими эмоциями, мимикой, жестами</div>
		</div>
		<div class="why__item11" style="background-color: rgb(171, 241, 232);">
			<div><span>Начнешь</span> получать удовольствие от&nbsp;того, что ты&nbsp;делаешь</div>
		</div>
		<div class="why__item12" style="background-color: rgb(115, 14, 215);">
			<div><span>Узнаешь</span>, как произвести впечатление и&nbsp;сделать эффективную презентацию продукта заказчику,
				руководителю или партнерам</div>
		</div>
		<div class="why__item13" style="background-color: rgb(62, 50, 39);">
			<div><span>Создашь</span> новые нейронные связи</div>
		</div>
		<div class="why__item14" style="background-color: rgb(96, 215, 80);">
			<div><span>Избавишься</span> от&nbsp;зажимов и&nbsp;клише</div>
		</div>
		<div class="why__item15" style="background-color: rgb(113, 59, 150);">
			<div><span>Научишься</span> презентовать себя аудитории, позиционировать как эксперта, умение проводить яркие
				и&nbsp;увлекательные
				мастер-классы, вебинары</div>
		</div>
		<div class="why__item16" style="background-color: rgb(254, 48, 192);">
			<div><span>Научишься</span> презентовать идеи при выступлениях на&nbsp;совещаниях, переговорах, планерках</div>
		</div>
		<div class="why__item17" style="background-color: rgb(19, 200, 224);">
			<div><span>Не&nbsp;мямлить</span>, а&nbsp;четко и&nbsp;грамотно доносить мысли</div>
		</div>
		<div class="why__item18" style="background-color: rgb(139, 24, 226);">
			<div><span>Умение</span> подавать себя, управлять аудиторией</div>
		</div>
		<div class="why__item19" style="background-color: rgb(21, 172, 61);">
			<div><span>Вовлекать</span> слушателей и&nbsp;проводить незабываемые выступления</div>
		</div>
		<div class="why__item20" style="background-color: rgb(69, 227, 89);">
			<div><span>Начнешь</span> легко и&nbsp;непринужденно общаться и&nbsp;с&nbsp;близкими и&nbsp;с&nbsp;незнакомыми людьми
			</div>
		</div>
		<div class="why__item21" style="background-color: rgb(160, 139, 39);">
			<div><span>Поймешь</span>, как вдохновлять и&nbsp;руководить коллективом, а&nbsp;руководитель-это всегда хороший
				оратор</div>
		</div>
		<div class="why__item22" style="background-color: rgb(247, 154, 214);">
			<div><span>Станешь</span> уверенным при знакомстве</div>
		</div>
    </div>
	</div>
	<div class="container">
		<a href="#" class="hero__link btn btn_why btn-reset" data-scroll>Записаться на курс</a>
	</div>
</siction>



